<launch>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find go1_control)/config/go1_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="go1_joint_state_controller go1_controller"/>
</launch>
